h1,
h2 {
  font-family: Lato;
}

div#vertical-scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 4em;
  width: 2em;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

div.bound {
  height: 10px;
}
div.scroll-item {
  display: flex;
  height: 1.99em;
  line-height: 2em;
  vertical-align: middle;
  width: 2em;
  background-color: aliceblue;
  border-bottom-width: 1px;
  border-bottom-color: blue;
  border-bottom-style: solid;
  scroll-snap-align: initial;
}

.active-item {
  font-weight: bold;
}
