h1,
h2 {
  font-family: Lato;
}

div#vertical-scroll-container {
  position: relative;
  height: 2em;
  width: 2em;
  background: transparent;
  overflow: scroll;
  border: solid 1px red;
}

div.scroll-item {
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  width: 2em;
  background-color: aliceblue;
  border-bottom-width: 1px;
  border-bottom-color: blue;
  border-bottom-style: solid;
}
