h1,
h2 {
  font-family: Lato;
}

div#vertical-scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 4em;
  width: 2em;
  background: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  padding-top: 0.1em;
  padding-bottom: 1em;
}

div.bound {
  height: 10px;
}
div.scroll-item {
  display: flex;
  height: 1.99em;
  line-height: 2em;
  vertical-align: middle;
  width: 2em;
  background-color: aliceblue;
  border-bottom-width: 1px;
  border-bottom-color: blue;
  border-bottom-style: solid;
  scroll-snap-align: initial;
}

div.scroll-item.scroll-active {
  animation-name: smoothZoom;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.active-item {
  font-weight: bold;
}

@keyframes smoothZoom {
  0% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(12);
  }

  100% {
    transform: scale(1);
  }
}
